html {
    overflow-x: hidden;
}

.open-data {
    cursor: pointer;
}

.color_wip {
    color: #5090ff !important;
}
.color_pending {
    color: #e47335 !important;
}
.color_grey {
    color: #898989 !important;
}
.color_blk7 {
    color: #111927 !important;
}
.color_approved {
    color: #09bc87 !important;
}
.color_blue {
    color: #124094 !important;
}
.dis_inb {
    display: inline-block !important;
}

.editIconOn {
    background: transparent url(../images/action_editOff.svg) 0 0 no-repeat;
}
.moreOptionBtn.show {
    background: transparent url(../images/action_moreActive.svg) 10px 0
        no-repeat;
}
.approveIcon {
    background: transparent url(../images/ticker_circle.svg) 0 0 no-repeat;
}
.approveIconOff {
    background: transparent url(../images/ticker_circle_off.svg) 0 0 no-repeat;
}
.rejectIcon {
    background: transparent url(../images/cross_circle.svg) 0 0 no-repeat;
}
.rejectIconOff {
    background: transparent url(../images/cross_circle_off.svg) 0 0 no-repeat;
}

.boots5_dropdown {
    margin-top: -18px !important;
}
.tooltip {
    margin-bottom: -5px !important;
}
.tooltip .tooltip-arrow {
    display: none !important;
}
.tooltip-inner {
    font-size: 13px;
    padding-bottom: 6px;
}
.mf_table .status {
    margin-bottom: 6px !important;
}

.tableShow {
    text-align: right;
    font-size: 14px;
    color: #84a9e8;
    margin: 0px 30px 10px 0px;
    display: inline-block;
}
.total_rows {
    color: #fff;
}
.tableShow .selectBox-dropdown {
    width: 60px !important;
    margin: 0px 8px;
}
.tableShow .selectBox-dropdown .selectBox-label {
    background: #3566b7 !important;
    border: none !important;
    box-shadow: none !important;
    padding: 4px 10px !important;
    height: auto !important;
    font-size: 14px !important;
    color: #fff !important;
    font-weight: normal !important;
}
.tableShow .selectBox-arrow {
    width: 6px !important;
    height: 6px !important;
    border-color: #ffffff;
    right: 15px !important;
    top: 40% !important;
}

.btn_auto {
    width: auto !important;
    padding-right: 20px;
    padding-left: 41px;
}

.pagination {
    margin-top: 40px;
}
.pagination .page-link {
    color: #6c7380 !important;
}
.pagination .page-link:hover,
.pagination .active a {
    color: #fff !important;
    background: #00aeef !important;
}

.page-item.previous a,
.page-item.next a {
    display: inline-block;
    content: "";
    box-sizing: border-box;
    height: 9px !important;
    width: 9px !important;
    border-style: solid !important;
    border-color: #124094 !important;
    border-width: 0px 2px 2px 0px !important;
    display: block !important;
    transform: rotate(140deg) !important;
    border-radius: 0px !important;
    padding: 0px !important;
    margin-right: 15px !important;
}
.page-item.previous a:hover,
.page-item.next a:hover {
    background: none !important;
}
.page-item.disabled.previous a,
.page-item.disabled.next a {
    border-color: #bbbbbb !important;
}

.page-item.disabled .page-link {
    background: transparent !important;
}
.page-item.previous span,
.page-item.next span {
    display: none;
}

.page-item.next a {
    transform: rotate(315deg) !important;
    margin-right: 0px !important;
    margin-left: 15px !important;
}

.default_select .ms-options-wrap > button:after {
    background: #fff url(../images/dropdownArrow.svg) no-repeat center center;
    width: 10px;
    height: 8px;
    right: 8px;
    color: #212a30;
    border: 0;
}
.default_select .ms-options-wrap > .ms-options > ul li.selected label,
.default_select .ms-options-wrap > .ms-options > ul label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #111927;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px 4px 5px 28px !important;
}
.default_select .ms-options-wrap > .ms-options > ul li.selected label:hover,
.default_select .ms-options-wrap > .ms-options > ul label:hover {
    background: #f0fafe;
}

.default_select button {
    border: 1px solid #c1c1c1 !important;
    border-radius: 4px !important;
    padding: 6px 12px !important;
    line-height: 20px !important;
    color: #111927 !important;
    font-weight: 500 !important;
}

.default_select .ms-search input {
    border-radius: 0px !important;
    border-bottom: 1px solid #eeeeee !important;
}

.default_select ul input[type="checkbox"] {
    left: 8px !important;
    top: 8px !important;
}

.child_table th {
    font-size: 12px !important;
    line-height: 14px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.child_table td {
    padding: 10px !important;
    line-height: 16px;
    vertical-align: top !important;
}
.instruction_note {
    font-size: 13px;
    font-weight: 300;
    color: #6c7380;
    padding: 20px 0px;
}
.hidden_data.has_footer {
    padding-bottom: 74px;
}
.hidden_data.has_footer .scroller {
    height: calc(100vh - 224px);
}
.hidden_data h4 {
    font-size: 20px;
    font-weight: 500;
    color: #111927;
    padding: 10px 0px 10px 0px;
}
.hidden_data h3.has_border {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.hidden_data .modalFooter {
    width: 100%;
    padding: 22px 0;
    background-color: #f4fafb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.auto_lineheight {
    line-height: inherit !important;
}

#cutoff_popup,
#confirm_bank_popup {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}
.cutoff,
.confirm_bank {
    width: 305px;
    padding: 8px 17px 11px 16px;
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 5px;
}
.cutoff p,
.confirm_bank p {
    font-size: 12px;
    line-height: 20px;
    margin: 6px 0px;
}
.cutoff_title,
.confirm_bank_title {
    font-weight: 500;
    color: #111927;
}
.cutoff a,
.confirm_bank a {
    display: inline-block;
    padding: 9px 30px 9px 30px;
    box-shadow: 0 1px 4px 0 rgba(18, 64, 148, 0.3);
    background-color: #124094;
    font-size: 13px;
    font-weight: 500;
    color: #fff !important;
    margin: 10px 0px 3px 0px;
    border-radius: 4px;
}
.largeModal p span.dis_inb {
    font-size: 12px;
}

.modalFooter .container {
    position: relative;
}
.modalFooter .filterBtns {
    position: absolute;
    right: 15px;
    top: -2px;
    padding-top: 0px;
}
.modalFooter .filterBtns a {
    margin-left: 10px;
}

#checkbox_child_level {
    margin: 0px 0px 20px 0;
    padding: 9px 0px 12px 20px;
    background-color: #f1f6ff;
}
#checkbox_child_level > label {
    font-size: 16px;
    font-weight: 500;
    color: #111927;
    cursor: pointer;
}
#checkbox_child_level .ez-checkbox {
    margin-right: 10px;
    position: relative;
    top: 3px;
}
#checkbox_child_level .ez-checkbox:before {
    background: #f1f6ff;
}

#checkbox_child_level .ez-checkbox.ez-checked:before {
    left: 0px !important;
    background: #fff;
}
#checkbox_child_level .ez-checkbox.ez-checked:after {
    z-index: 99;
}

.tabs2 {
    border: solid 1px #e6e6e6;
    background-color: #fff;
    border-radius: 30px;
    float: left;
}

.common_field > label {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 14px;
    color: #898989;
    padding-bottom: 10px;
    font-weight: normal;
    position: relative;
}
.common_field input[type="text"] {
    float: left;
    width: 100%;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 20px;
    font-weight: 500;
}

/* .common_field input:read-only {
    background-color: #eee;
    font-weight: 500;
} */

.total_amt {
    padding: 3px;
    background: rgba(9, 188, 135, 0.1);
    position: absolute;
    right: 0px;
    top: -3px;
}
.total_amt strong {
    color: #09bc87 !important;
    font-weight: 500;
}

.child_row {
    position: relative;
    padding-right: 34px;
    margin-bottom: 20px;
}
/*.delete_row { position: absolute; right: 25px; top: 50%; transform: translateY(-50%); width: 24px; }*/
.delete_row {
    position: absolute;
    right: 25px;
    top: 5px;
    width: 24px;
}
.btn_add_child {
    font-size: 12px;
    text-align: center;
    color: #00aeef;
    padding: 6px 16px;
    border: solid 1px #00aeef;
    background-color: #fff;
    border-radius: 30px;
    display: inline-block;
    float: right;
    margin: 0px 35px 40px 0;
}
.btn_add_child:hover {
    color: #fff;
    background-color: #00aeef;
}
.child_hidden {
    display: none;
}

#Upload-Child p {
    font-size: 13px;
    line-height: 18px;
    color: #111927;
    font-weight: 400;
}
#drag_upload {
    border-radius: 5px;
    border: 1px dashed #124094;
    padding: 25px 0px;
    margin-top: 5px;
    margin-bottom: 30px;
}
#drag_upload p {
    margin: 10px 0px;
}
#Upload-Child span {
    display: inline-block !important;
}
#Upload-Child p img {
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.hidden_btn {
    display: none;
}
.total_erros {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #ef3232 !important;
}

.error_table tbody tr:nth-child(even) {
    background: #f6f6f6;
}
#Error_Details {
    margin-top: 10px !important;
}
.common_table.error_table td {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}
#Successful_Upload,
.alerts {
    position: fixed;
    left: 0px;
    bottom: 110px;
    text-align: center;
    z-index: 99;
    display: none;
    z-index: 999;
}
#Successful_Upload div,
.alerts div {
    display: inline-block;
    padding: 14px 21px 12px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}
#Successful_Upload div.success,
.alerts div.success {
    box-shadow: 0 3px 10px 0 rgba(9, 188, 135, 0.15);
    border: solid 1px #09bc87;
    background-color: #fff;
    color: #09bc87;
}
#Successful_Upload div.error,
.alerts div.error {
    box-shadow: 0 3px 10px 0 rgba(239, 50, 50, 0.15);
    border: solid 1px #ef3232;
    background-color: #fff;
    color: #ef3232;
}
#Successful_Upload div img,
.alerts div img {
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 5px;
}
.modalFooter .filterBtns a.disabled {
    opacity: 0.3;
}

.rejectFeedback.no_shadow {
    box-shadow: none !important;
    margin-top: 10px;
}
.largeModal .rejectFeedback.no_shadow h4 {
    font-size: 13px;
    margin: 0px !important;
    padding: 0px 0px 5px 0px !important;
}

.hidden_data .historyBlock {
    width: 68%;
}
.largeModal p span.sentApproval,
.largeModal p .sentApproval span {
    font-weight: 500 !important;
}

.appr_rejct_btns a {
    display: inline-block;
    padding: 12px 26px 11px 26px;
    min-width: 93px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 10px;
}
.rejct_btn {
    box-shadow: 0 1px 4px 0 rgba(239, 50, 50, 0.3);
    background-color: #ef3232;
}
.apprvd_btn {
    box-shadow: 0 1px 4px 0 rgba(9, 188, 135, 0.3);
    background-color: #09bc87;
    margin-right: 0px !important;
}
.appr_rejct_btns a.disabled {
    opacity: 0.3;
}

#reject_popup {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9999;
}
.reject_popup_inner {
    width: 460px;
    padding: 20px 20px 25px 20px;
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 5px;
}
.reject_popup_inner p {
    font-size: 16px;
    font-weight: 700;
    color: #111927;
}
.reject_popup_inner textarea {
    font-size: 13px;
    font-weight: 500;
    color: #111927;
    width: 100%;
    height: 116px;
    margin: 10px 0px 20px 0;
    padding: 11px 15px 11px 15px;
    border: solid 1px #c1c1c1;
    background-color: #fff;
}
.reject_popup_inner ::-webkit-input-placeholder {
    color: #bbb !important;
}
.reject_popup_inner ::-moz-placeholder {
    color: #bbb !important;
}
.reject_popup_inner :-ms-input-placeholder {
    color: #bbb !important;
}
.reject_popup_inner :-moz-placeholder {
    color: #bbb !important;
}
.close_popup {
    position: absolute;
    right: 10px;
    top: 10px;
}

.reject_popup_inner .reset_btn,
.common_reset {
    min-width: 76px;
    height: 34px;
    margin: 0 10px 0 0;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 1px 4px 0 rgba(137, 137, 137, 0.3);
    border: solid 1px #898989;
    background-color: #fff;
    border-radius: 3px;
    font-weight: 500;
    font-size: 13px;
    color: #898989;
}
.reject_popup_inner .submit_btn,
.common_submit {
    width: 76px;
    height: 34px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 1px 4px 0 rgba(18, 64, 148, 0.3);
    background-color: #124094;
    border: 0px !important;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    border-radius: 3px;
}
.reject_popup_inner input:disabled {
    opacity: 0.2;
}

.common_reset:disabled,
.common_submit:disabled {
    opacity: 0.2;
}

#footer_selected_rows {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 99999;
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px 0px;
    display: none;
}
#footer_selected_rows p {
    font-size: 14px;
    font-weight: 400;
    color: #6c7380;
    padding-left: 20px;
}
#footer_selected_rows p span {
    font-weight: 700;
    color: #111927;
    display: inline-block;
    padding-right: 6px;
}

.bulk_upl_btn {
    display: inline-block;
    background: #00aeef;
    box-shadow: 0 0 6px 0 rgba(0, 174, 239, 0.4);
    border-radius: 25px;
    font-size: 12px;
    line-height: 36px;
    color: #fff !important;
    text-align: center;
    font-weight: 500;
    padding: 0px 20px;
    margin-left: 20px;
}
.bulk_upl_btn img {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.back_arrow {
    color: #fff !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
    display: inline-block;
}
.back_arrow img {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

#mf_redem_details {
    margin-top: -115px;
}

.Redemption_Header {
    box-shadow: 0 1px 0 0 #ececec;
    background-color: #f9f9f9;
    padding: 22px 0px;
    /* margin-bottom: 30px; */
}

.Bene_Header {
    padding: 22px 0px;
    /* margin-bottom: 30px; */
}

#mf_redem_details .box_shadow {
    margin-top: 10px;
}
header.small_header {
    height: 230px;
}
.ic_datepicker {
    background: url("../images/datepicker_icon.svg") no-repeat 95% center;
}
.bg_white {
    background-color: #fff !important;
}

.radio_btns > label {
    margin: 6px 25px 0px 0px;
    font-size: 13px;
    font-weight: 500;
    color: #111927;
    cursor: pointer;
}
.actionBtns {
    width: 24px;
    height: 24px;
    display: inline-flex;
    margin-right: 10px;
}
.radio_btns .ez-radio {
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.field_row {
    margin-bottom: 30px;
}
.form_footer {
    margin-top: 30px;
    padding: 20px 0px 22px 0px;
    border-top: 1px solid #ececec;
}

.default_selectbox .selectBox-dropdown .selectBox-label {
    padding: 6px 12px !important;
    border-radius: 4px !important;
    font-size: 13px !important;
    color: #111927 !important;
    font-weight: 500;
    height: auto !important;
    background: #ffffff !important;
    box-shadow: none !important;
    border: 1px solid #c1c1c1 !important;
    line-height: 18px;
}
.default_selectbox .selectBox-arrow {
    border-width: 0px 2px 2px 0px !important;
    border-color: #6c7380 !important;
    right: 12px;
    top: 39%;
}
.field_error {
    font-size: 13px;
    color: #ef3232 !important;
}

.field_warning {
    font-size: 13px;
    color: #f3c136 !important;
}

.common_field .error {
    border-color: red !important;
}
.ms-options-wrap > .ms-options {
    min-height: auto !important;
}
.td_amount {
    padding-right: 30px !important;
}

.select2-container,
.select2-container--default .select2-selection--single {
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #c1c1c1 !important;
    font-size: 13px !important;
    color: #111927 !important;
    font-weight: 500;
    line-height: 18px;
    height: 32px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 32px !important;
    font-size: 13px !important;
    color: #111927 !important;
    font-weight: 500;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    right: 8px;
    top: 3px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    display: inline-block;
    content: "";
    box-sizing: border-box;
    height: 8px;
    /* width: 8px; */
    border-style: solid;
    border-width: 0px 2px 2px 0px !important;
    /* border-color: #6c7380 !important; */
    display: block;
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%) rotate(45deg);
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
    /*background: #F3F9FE !important;*/
    /*color: #212A30 !important;*/
    background: #fff !important;
    color: #00aeef !important;
}

.select2-search--dropdown {
    padding: 0px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 0px !important;
    border-bottom: 1px solid #eee !important;
    font-size: 13px !important;
    padding: 7px 15px 6px 15px !important;
    margin-bottom: 5px !important;
}

.select2-container--default ::-webkit-input-placeholder {
    color: #dcdee5 !important;
}
.select2-container--default ::-moz-placeholder {
    color: #dcdee5 !important;
}
.select2-container--default :-ms-input-placeholder {
    color: #dcdee5 !important;
}
.select2-container--default :-moz-placeholder {
    color: #dcdee5 !important;
}

.select2-dropdown {
    background: #ffffff;
    box-shadow: 0px 0px 16px #1920211a;
    border-radius: 5px;
    border: 0px !important;
}
.select2-results__option {
    padding: 8px 15px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    font-size: 13px !important;
    color: #111927 !important;
    font-weight: 500;
}

.no_border {
    border: 0px !important;
}
.dashboard_balance_summary li.aum_amount {
    min-width: 33%;
    margin-right: 10px;
    border-right: 1px solid #eef1f6;
}
.dashboard_balance_summary2In li.fw {
    width: 100%;
}
.CapitalFlowTitle {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px !important;
    color: #6c7380;
    font-weight: 400;
}
.today_date {
    display: inline-block;
    padding-top: 10px;
}
.dates {
    color: #124094 !important;
    text-decoration: underline !important;
}

#Notifications_Header {
    min-width: 470px !important;
    background: none !important;
    padding: 0px !important;
    border: 0px !important;
}
#Notifications_Header .title h2 {
    font-size: 16px;
}
#Notifications_Header li {
    margin-left: 0px !important;
    padding: 10px 50px 9px 29px;
}
#Notifications_Header li:nth-child(odd) {
    background: none !important;
}
#Notifications_Header li.disabled {
    background: #f3f3f3 !important;
}
#Notifications_Header .title {
    min-height: 50px;
}
#Notifications_Header .notification_date,
#Notifications_Header .notification_category {
    margin-bottom: 8px;
}
.mark_as_read {
    font-size: 14px;
}
#Notifications_Header .scroller {
    height: 425px;
}
#Notifications_Header li img {
    top: 15px;
}
#Notifications_Header li img.icon_attach {
    left: auto;
    right: 10px;
    top: 38px !important;
}
#Notifications_Bottom {
    border-top: 1px solid #edeef6;
    background-color: #fff;
    text-align: center;
    padding: 13px 0px 16px 0px;
}
#Notifications_Bottom a {
    font-size: 14px;
}

.col_5_row .col {
    max-width: 20% !important;
}
.col_4_row .col {
    max-width: 25% !important;
}

.hidden_as_on {
    width: 340px;
    padding: 18px 10px 11.4px 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 145px;
    left: 0px;
    z-index: 999;
    display: none;
}
.hidden_as_on p {
    font-size: 11px;
    line-height: 19px;
    padding-bottom: 3px;
}
.hidden_as_on td {
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    color: #111927;
    padding: 5px 0px;
}
.hidden_as_on tr td:first-child {
    color: #6c7380;
}
.triangle {
    width: 0;
    height: 0;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    position: absolute;
    left: 65px;
    top: -12px;
    z-index: 999;
}

#Strategies_Dropdown_Main {
    background: none !important;
    border-color: transparent !important;
    padding: 0px !important;
}

#Strategies_Dropdown {
    width: 380px;
    padding: 10px 0 10px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin-top: -33px;
    border-radius: 4px;
}

#Strategies_Dropdown .scroller {
    height: 250px;
}

#Strategies_Dropdown li {
    border-bottom: 1px solid #eef1f6;
    padding: 4px 20px;
    float: left;
    width: 100%;
    position: relative;
}
#Strategies_Dropdown li:last-child {
    border-bottom: 0px;
}
#Strategies_Dropdown li.first-child {
    padding-bottom: 5px;
    border-bottom: 1px solid #eef1f6 !important;
}
.reset_strategies {
    font-size: 13px;
    font-weight: 400;
    color: #124094;
    position: absolute;
    right: 20px;
    top: 10px;
}

#Strategies_Dropdown li > label {
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    font-weight: 300;
    margin: 4px 0px;
    position: relative;
    float: left;
    width: 100%;
    /* padding: 0px 0px 0px 26px; */
}
#Strategies_Dropdown li > label.bigger {
    font-size: 14px;
    font-weight: 400;
}

#Strategies_Dropdown .ez-checkbox {
    width: 14px !important;
    height: 14px !important;
    position: absolute;
    left: 0px;
    top: 4px;
}
#Strategies_Dropdown .ez-radio {
    position: absolute;
    left: 0px;
    top: 2px;
}
#Strategies_Dropdown .ez-checkbox:after {
    width: 7px;
    height: 5px;
    left: 10px;
    top: 5px;
}

.dashedLine {
    border-bottom: dashed 1px #6c7380;
}
.table_accordian table {
    float: left;
    width: 100%;
}
.table_accordian table td {
    font-weight: 400 !important;
}
.table_accordian table td:last-child {
    font-weight: 500 !important;
}
.table_accordian table tr:last-child td {
    border-bottom: 2px solid #124094;
}
.plus_minus {
    position: relative;
    display: inline-block;
    padding: 0px 0px 0px 23px;
}
.plus_minus span {
    background: url("../images/icon_plus_blue.svg") no-repeat left top;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 1px;
}
.plus_minus.active span {
    background: url("../images/icon_minus_blue.svg") no-repeat left center;
}

.table_accordian tr.active > td {
    background: #f5fcfe;
    border-top: 2px solid #124094;
}
.hidden_row {
    display: none;
}
td.no_underline {
    text-decoration: none !important;
}

.user_details {
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.user_details_main {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.user_details p {
    font-size: 13px;
    color: #6c7380;
    font-weight: 300;
    line-height: 24px;
}
.user_details a {
    color: #124094;
}
.user_details strong {
    font-weight: 400;
    color: #111927;
}
table.table_no_underline td {
    text-decoration: none;
    vertical-align: top;
}
table.table_no_underline img {
    vertical-align: middle;
    padding-left: 10px;
}
.growth {
    background-color: #f1f6ff;
}
tr.growth td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    vertical-align: middle !important;
    border-top: 1px solid #e6e6e6 !important;
    border-bottom: 0px !important;
}

.text_right {
    text-align: right;
}
.pool_icons img {
    vertical-align: middle;
}
.pool_icons a {
    margin-left: 10px;
}
.client_table td,
.client_table th {
    text-decoration: none;
    padding-right: 0px;
    line-height: 18px;
}
.client_table td:last-child {
    padding-right: 20px;
}
.client_table span {
    color: #898989;
    font-size: 12px;
}
.client_table td a {
    color: #124094 !important;
}
.download_all {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.dashboard_top_client {
    margin-top: -60px;
}
.download2 {
    display: inline-block;
    margin-right: 0px;
    position: relative;
    top: 4px;
}

tr.growth .download2 {
    top: 0px;
}
.client_table_grey tr:nth-child(even) {
    background-color: #eef1f6;
}
.client_table_grey th,
.client_table_grey td {
    padding-right: 25px;
}

#confirm_bank_popup a {
    border: solid 1px #124094;
    margin-left: 5px;
    margin-right: 5px;
}
#confirm_bank_popup .no_btn {
    background: #fff !important;
    color: #898989 !important;
    box-shadow: 0 1px 4px 0 rgba(137, 137, 137, 0.3);
    border: solid 1px #898989;
}

.close_confirm {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.capital_flow_table tr th:last-child {
    padding-right: 30px !important;
}
.capital_flow_table tr th {
    padding-top: 8px;
    padding-bottom: 8px;
}
.capital_flow_table tr td {
    padding-top: 8px;
    padding-bottom: 8px;
}
.capital_flow_table tr td:last-child {
    padding-right: 30px !important;
    font-weight: 500;
}
.capital_flow_table tr:nth-child(even) {
    background: #fcfcfc;
}

.capital_flow_table.bigger_padding td {
    padding-top: 18px;
    padding-bottom: 18px;
}
.capital_flow_table.bigger_padding th {
    padding-top: 12px;
    padding-bottom: 11px;
}

.table_right th.txl {
    text-align: left !important;
}
.Search_by_Instruction {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashboard_top_Instructions {
    margin-top: -73px;
}

.strategy_big_dropdown .ms-options-wrap > .ms-options {
    min-width: 375px;
}
.table_operational tr td:first-child,
.table_operational tr th:first-child {
    padding-right: 0px !important;
}
.table_operational tr th {
    font-weight: 400;
}
.no_pd_right {
    padding-right: 0px !important;
}
.custody_fa_dropdown {
    width: 150px !important;
    height: auto !important;
    margin-left: 12px !important;
}
#Strategies_Dropdown.custody_fa_dropdown li {
    border: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

th.txc,
td.txc {
    text-align: center !important;
}

/*Mobile*/
@media (max-width: 767px) {
    header {
        padding-top: 15px;
    }
    header img {
        max-width: 160px;
    }
    header .col-md-6 {
        width: 50%;
    }
    #header_icons li {
        margin-left: 20px;
    }
    .header_seperator {
        margin-top: 18px;
        margin-bottom: 20px;
    }
    header .col-md-9,
    header .col-md-12 {
        overflow: auto;
    }
    #menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: -moz-max-content;
        width: max-content;
    }
    /*.strategiesMain { margin-top: 15px; }*/
    .dashboard_balance_summary2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .dashboard_balance_summary2 > ul {
        display: block;
    }
    .dashboard_balance_summary2 > ul > li {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    .dashboard_balance_summary li a {
        min-height: auto;
        padding-top: 0px;
    }
    .common_table {
        min-width: 600px;
    }
    .tab_content {
        overflow: auto;
    }
    .cashFLowBox {
        overflow: auto;
        clear: both;
    }
    .container .link_box {
        margin-bottom: 30px;
    }
    .space_small {
        display: none;
    }
    .user_details {
        padding-bottom: 0px !important;
    }
    .user_details .col-md-3 {
        padding-top: 10px;
    }
    .user_details_main {
        margin-top: 0px !important;
        margin-bottom: 15px !important;
    }
    #portfolio_title {
        display: block;
    }
    #Strategies_Dropdown {
        width: 96vw;
        margin-left: 1vw;
    }
    .tabs_large {
        overflow: auto;
    }
    .tabs_large ul {
        justify-content: space-between;
        width: -moz-max-content;
        width: max-content;
    }
    .tabs_large li a {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .graph_details .month_year_links {
        margin: 15px 0px;
    }
    .month_year_links li {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    #portfolio_details {
        margin-top: -180px;
    }
    .dashboard_top_links {
        padding-left: 15px;
    }
    .col_5_row,
    .col_4_row {
        display: block;
    }
    .col_5_row .col,
    .col_4_row .col {
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 15px !important;
    }
    .field_row .col-md-3 {
        margin-bottom: 15px;
    }
    .default_select label {
        margin-top: 15px;
    }
    .beneficiaryAdd {
        margin-bottom: 15px;
    }
    .reject_popup_inner .reset_btn,
    .common_reset {
        min-width: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .child_row {
        display: block;
        float: left;
        width: 100%;
        padding-right: 4px;
    }
    .child_row .common_field input[type="text"],
    .default_select {
        float: left;
        width: 100%;
        margin-bottom: 15px;
        width: 100%;
    }
    .child_hidden .row {
        float: left;
        width: 100%;
    }
    .delete_row {
        right: 0px;
    }
    #portfolio_title {
        margin-bottom: 15px;
    }
}

@media (max-width: 640px) {
    .tabs2 {
        float: none;
        display: inline-block;
        margin-top: 10px;
    }
    .title {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 540px) {
    .tableShow {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    .strategiesMain {
        width: 100%;
        float: none !important;
        text-align: center;
        margin-top: 10px;
    }
    .all_strategies {
        margin: auto;
        float: none !important;
        line-height: 40px;
    }
    .strategiesMain .dropdown .amutTxt.fr {
        float: none !important;
    }
}



/*OTP*/
.pennydropIcon {
    background-image: url(../images/pennydrop_icon.svg);
  }
  
  .pennydropIcon:hover {
    background-image: url(../images/pennydrop_blue.svg);
  }
  
  .pennydropIcon_green {
    background-image: url(../images/pennydrop_green.svg);
  }
  
  .pennydropIcon_red {
    background-image: url(../images/pennydrop_red.svg);
  }
  
  .pennydrop_btn {
    color: #fff;
    background-color: #124094;
  }
  
  .pennydrop_popup {
    display: block;
  }
  
  .pennydrop_popup p {
    font-size: 12px;
    font-weight: 500;
    color: #111927;
  }
  
  .process {
    font-size: 14px !important;
    font-weight: normal !important;
    color: #111927;
    margin-top: 35px;
  }
  
  .pennydrop_popup .process strong {
    font-weight: normal;
    color: #111927;
  }
  
  .pennydrop_popup .process span {
    font-size: 14px !important;
    font-weight: 500;
    padding-left: 10px;
  }
  
  .pennydrop_popup label {
    font-size: 14px;
    font-weight: normal;
    color: #898989;
    margin-top: 10px;
  }
  
  .pennydrop_popup table td {
    font-size: 13px;
    font-weight: 300;
    color: #6c7380;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  .pennydrop_popup table tr td span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #111927 !important;
    padding-top: 5px;
  }
  
  .less_mt {
    margin-top: 20px !important;
  }
  
  .common_popup {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9999;
  }
  
  .img_success {
    margin-top: 20px;
    width: 40px;
  }
  
  .pennydrop_popup_02 {
    padding-bottom: 55px !important;
  }
  
  #Penny_Drop_Popup_02 .process {
    margin-top: 20px !important;
  }
  
  #OTP_Genaration_Popup .appr_rejct_btns {
    margin-top: 30px;
  }
  
  #Penny_Drop_Popup_03 .process span,
  #Penny_Drop_Popup_04 .process span {
    font-weight: normal;
  }
  
  #Penny_Drop_Popup_04 .appr_rejct_btns {
    margin-top: 30px;
  }
  
  #Penny_Drop_Popup_04 .process span {
    color: #ef3232 !important;
  }
  
  .pennydropreject_box {
    background-color: rgba(202, 204, 204, 0.1) !important;
    border: 1px solid rgba(202, 204, 204, 0.3) !important;
  }
  
  .pennydropreject_box strong {
    color: #111927;
    font-weight: normal;
    display: block;
  }
  
  .pennydropreject_box .rejectFeedback.no_shadow h4 {
    padding-top: 20px !important;
  }
  
  #Penny_Drop_Popup_05 p {
    font-size: 16px;
    font-weight: bold;
    color: #111927;
  }
  
  #OTP_Genaration_Popup .otpgenerationtable {
    padding-left: 20px;
    padding-top: 20px;
  }
  
  #Penny_Drop_Popup_05 .otpgenerationtable tr th {
    font-size: 14px;
    font-weight: 500;
    color: #bbb;
    padding-top: 20px;
  }
  
  #OTP_Genaration_Popup .appr_rejct_btns {
    margin-top: 40px;
  }
  
  #OTP_Genaration_Popup .verifyttp .process {
    margin-top: 20px !important;
  }
  
  #OTP_Genaration_Popup .verifyttp img {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .otpgenerationtable {
    background-color: #f6f9fe;
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-bottom: 7px;
  }
  
  #OTP_Genaration_Popup .field_error {
    font-weight: normal !important;
    padding-top: 8px;
  }
  
  #OTP_Genaration_Popup h4 {
    font-size: 16px;
    font-weight: bold !important;
    color: #111927;
    margin-bottom: 0px;
  }
  
  .pennydrop_popup_06 .pennydroptable tr td {
    font-size: 14px;
    font-weight: normal !important;
    color: #111927;
    line-height: 1.57;
  }
  
  #OTP_Genaration_Popup .filterStatusBlock input {
    max-width: 200px !important;
    border-width: 1px !important;
    float: none;
    display: inline-block;
    margin-top: 30px !important;
  }
  
  #OTP_Genaration_Popup .filterStatusBlock input:disabled {
    background-color: #eee !important;
    opacity: 1 !important;
  }
  
  #OTP_Genaration_Popup .filterStatusBlock input:focus {
    border: solid 1px #00aeef !important;
  }
  
  .pennydrop_popup_06 .process {
    margin-top: 20px !important;
  }
  
  #OTP_Genaration_Popup .common_submit {
    width: 106px;
    margin-top: 30px;
  }
  
  .pennydrop_popup_06 .pennydroptable tr td {
    font-size: 14px;
    font-weight: normal;
    color: #111927;
    line-height: 1.57;
  }
  
  .pennydrop_popup_07 .process {
    margin-top: 20px !important;
  }
  
  #OTP_Genaration_Popup .process span {
    color: #00aeef;
    font-weight: normal;
  }
  
  .pennydrop_popup_07 .common_submit {
    width: 106px;
    margin-top: 30px;
  }
  
  .pennydrop_popup_09 span {
    font-size: 12px;
    display: block;
    margin-top: 20px;
  }
  
  .cheque a {
    font-weight: normal !important;
  }
  
  .manage_notification td.cheque {
    vertical-align: middle !important;
  }
  
  .error_select .ms-options-wrap button {
    border: 1px solid #ef3232 !important;
    margin-bottom: 6px !important;
  }
  
  
  .common_field textarea {
    float: left;
    width: 100%;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 20px;
    font-weight: 500;
    height: 73px;
    resize: none;
  }
  
  .common_field textarea::-webkit-input-placeholder {
    color: #bbb !important;
  }
  
  .common_field textarea::-moz-placeholder {
    color: #bbb !important;
  }
  
  .common_field textarea:-ms-input-placeholder {
    color: #bbb !important;
  }
  
  .common_field textarea:-moz-placeholder {
    color: #bbb !important;
  }
  
  
  .btn_generate_otp {
    margin-right: 0px !important;
  }
  
  .otp_header {
    padding: 0px 0px 17px 0px;
  }
  
  #OTP_Genaration_Popup .otpgenerationtable p {
    font-size: 14px;
    font-weight: normal !important;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #111927;
    padding-bottom: 11px;
  }
  
  #OTP_Genaration_Popup .verifyttp .process .bold {
    font-weight: 500 !important;
  }
  
  .opt_hidden {
    display: none;
  }
  
  .otp_resend_sucessfully {
    margin-top: 20px;
  }
  
  
  .otp_verified {
    margin-top: 10px !important;
  }
  
  .pennydrop_popup p.redirecting {
    font-weight: 300 !important;
    margin-top: 23px !important;
    margin-bottom: 30px !important;
  }
  
  .leftcolumn {
    position: relative;
  }
  
  .leftcolumn:after {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 38px;
    content: "";
    display: block;
    background-color: #eef1f6;
  }
  
  
  .pennydrop_popup .otpgenerationtable {
    margin-top: 20px !important;
  }
  
  .pennydrop_btns {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .largeModal .rejectFeedback.no_shadow.pennydropreject_box h4 {
    padding-bottom: 0px !important;
    margin-top: 10px !important;
  }
  
  .largeModal .rejectFeedback.no_shadow.pennydropreject_box h4:first-child {
    margin-top: 0px !important;
  }
  
  .rejectFeedback.no_shadow.pennydropreject_box {
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
  }
  
  .Popup_Penny_Drop_Status {
    position: absolute;
    right: 300px;
    top: 0px;
    z-index: 9999;
    display: none;
  }
  
  .Popup_Penny_Drop_Status .otpgenerationtable {
    background-color: #f6f9fe !important;
  }
  
  .Popup_Penny_Drop_Status .otpgenerationtable td {
    background: transparent !important;
    border: 0px !important;
    font-size: 13px !important;
    color: #6c7380 !important;
    font-weight: 300 !important;
    text-align: center !important;
    padding: 13px 0px !important;
    line-height: normal !important;
  }
  
  .normal_font {
    font-weight: normal !important;
  }
  
  .Popup_Penny_Drop_Status .reject_popup_inner { padding-top: 10px !important; }
  
  .form-control {
    /* box-shadow: 0 10px 40px 0 #B0C1D9; */
  }
  
  .form-control::placeholder {
    /* //font-family: FontAwesome;
    
     // border: 1px solid #c1c1c1;
     // border-radius: 4px; */
      padding: 4px 4px;
      line-height: 20px;
      font-weight: 500;
      font-size: 13px;
  }
  
/*Mobile*/
